body {
  font-family: arial, sans-serif;
}

    /*Header Section*/
.header {
  color: #bebcbc;
  width: 100vw;
  height: 60px;  
} 

.logo {
  font-size: 35px;
  margin:  0;
  padding: 1rem 0;
  padding-left: 2rem;
}

.nav {
  color: #69b9ff;
  height: 60px;
  padding: 1rem 0;
  width: 100%;
}

.nav ul {
  float: right;
  width: 50%;
  margin: 0 2rem 0 0;
  padding-top: .7rem;
}

.nav ul li {
  display: inline;
  font-size: 25px;
  float: right;
  margin-right: 2rem;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #69b9ff;
}

.home-hero {
  height: 75vh;
  background-size: auto, contain;
  background-image: url("images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:  fixed;
  width: 100%;
  z-index: 2; 
}

.hero {
  height: 75vh;
  background-image: linear-gradient(rgba(46, 157, 255, 0.3), rgba(241, 205, 2, 0.3));
  z-index: 1;
}

.hero h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 80px;
    color: white;
}
.hero h2 {
    text-align: center;
    font-size: 50px;
    color: #69b9ff;
}

.about,
.resume {
  margin: 0 auto;
  height: 240px;
  font-size: 25px;
  text-align:  center;
  color: #575859;
  max-width: 75%;

}

.separator {
/*  border: 1px solid #313A75;*/
  width: 50%;
  margin: 0 auto;
  height: 50px;
  border-radius: 50%;
  background-image:  linear-gradient(to right, rgba(255, 164, 46, 0.7), rgba(46, 157, 255, 0.4), rgba(255, 164, 46, 0.7));
}

@-webkit-keyframes Separator {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes Separator {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes Separator {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.skills h2 {
  text-align: center;
  color: #575859;;
  font-size: 40px;
  margin-bottom: 0;
}

.flex-container {
  display:  flex;
  justify-content: center;
  font-size:  20px;
}

.flex-container div {
  border: 1px solid #69b9ff;
  border-radius: 15px;
  margin: 25px;
}

.flex-container h3 {
  color: #575859;;
  text-align: center;
  font-size: 25px;
}

.frontend ul {
  list-style-type: none;
  padding: 15px;
  width: 310px;
  color: #575859;
  margin: 0 auto;
  text-align: center;
}

.backend ul {
  list-style-type: none;
  padding: 15px;
  width: 310px;
  color: #575859;
  text-align: center;
  margin: 0 auto;
}

.supplementary ul {
  list-style-type: none;
  padding: 15px;
  width: 310px;
  color: #575859;
  text-align: center;
  margin: 0 auto;
}

footer {
  background-color: rgba(255, 164, 46, .8);
  color: #bebcbc;
  width: 100vw;
  height: 170px;  
  text-align: center;
  padding: .5rem 0;
  line-height: 30px;
} 

.footer-contact {
  font-size: 25px; 
  text-decoration: none;
  color: #575859;  
}

.footer-contact a:link,
.footer-contact a:visited {
  text-decoration: none;
  color: #575859;
}

.social a {
  display: inline;
}

.social img {
  height: 50px;
  width: auto;
}

.copyright {
  font-size: 12px;
  color: #575859;
}

.braille h1 {
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.braille .column1 {
  float: left;
  width: 10%;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
}

.braille .column2 {
  float: left;
  width: 9%;
  padding: 10px;
  line-height: 20px;
  padding-right: 7px;
}

.braille .column2 p {
  font-family: SimBraille;
  font-size: 20px;
}

.braille .column3 {
  float: left;
  width: 30%;
  font-size: 20px;
  line-height: 20px;
  border-right: 1px solid #000;
  margin-top: 10px;
}

.braille .column4 {
  float: left;
  width: 27%;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
}

.braille .column5 {
  float: left;
  width: 7%;
  padding: 10px;
  line-height: 20px;
  padding-right: 7px;
}

.braille .column5 p {
  font-family: SimBraille;
  font-size: 20px;
}


/* Clear floats after the columns */
.braille .row:after {
  content: "";
  display: table;
  clear: both;
}
